<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Win.C1Chart" version="4.5.20201.424" targetFramework="net472" />
  <package id="Kelary.Ivi.Visa" version="5.11.3422" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.1.0.59" targetFramework="net472" />
</packages>